h1,h2,h3,h4,h5,h6,a,p
{
    text-align:center;
    font-family:KaiTi,sans-serif;
}
#head
{
    color:red;
}
.blog
{
    position:relative;
    left:10%;
    top:10%;
    width:70%;
    /*height:40%;*/
    padding:20px 100px 20px 100px;
    background-image:url('back.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    border: 5px solid #bb7654;
    border-radius: 15px;
    margin: 0% 0% 10% 0%;
}
.guangao
{
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}
.cu
{
    font-weight: 900;
}