#head
{
    color:red;
}
.blog
{
    width:80%;
    height:40%;
    background-image:url('back.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
}

h1,h2,h3,h4,h5,h6,a
{
    text-align:center;
    font-family:STKaiti,KaiTi,sans-serif,楷体;
}
