body,iframe {
  margin: 10px 50px 10px 50px;
  padding: 5px;
  border: 0px;
  vertical-align: baseline;
}
body {
  font-family: KaiTi,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  background-color: #E0FFE0;
}
/*
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
*/
a:link {color:#60C0A0;text-decoration:none;}		/* 未被访问的链接 */
a:visited {color:#60C0A0;text-decoration:none;}	/* 已被访问的链接 */
a:hover {color:#502050;text-decoration:none;}	/* 鼠标指针移动到链接上 */
a:active {color:#502050;text-decoration:none;}	/* 正在被点击的链接 */

code {
  line-height:1.2;
  display: block;
  font-family: Source Code Pro, Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 15px;
  background-color: #D0D0D0;
  border: #E5E5E5;
  border-radius: 3px;
  padding: 3px;
  magin: 5px;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0px;
  padding:5px;
  border:0px;
  white-space:pre;
}
